[submodule "libs/lib-a"]
	path = libs/lib-a
	url = https://github.com/oscarludick/lib-a.git
  branch = master
[submodule "apps/app-b"]
	path = apps/app-b
	url = https://github.com/oscarludick/app-b.git
  branch = master
